<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ccs</string>
	<key>CFBundleExecutable</key>
	<string>ccs</string>
	<key>CFBundleIconFile</key>
	<string>ccs.icns</string>
	<key>CFBundleIdentifier</key>
	<string>local.ccs.app</string>
	<key>CFBundleName</key>
	<string>ccs</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
